<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyCuaHangTraSua"
        tools:targetApi="31">

        <activity
            android:name=".DesignPattern.Composite.InvoiceStaffActivity"
            android:exported="false" />
        <activity
            android:name=".FruitTeaSeachActivity"
            android:exported="false"
            android:label="Tìm kiếm trà trái cây"/>
        <activity
            android:name=".MilkTeaSearchActivity"
            android:exported="false"
            android:label="Tìm kiếm trà sữa"/>
        <activity
            android:name=".CoffeeSearchActivity"
            android:exported="false"
            android:label="Tìm kiếm cà phê"/>
        <activity
            android:name=".SearchMenuActivity"
            android:exported="false"
            android:label="Tìm kiếm loại sản phẩm" />
        <activity
            android:name=".ConfirmOrderActivity"
            android:exported="false"
            android:label="Xác nhận hóa đơn" />
        <activity
            android:name=".CartActivity"
            android:exported="false"
            android:label="Giỏ hàng" />
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:label="Quản lý" />
        <activity
            android:name=".AdminMaintainActivity"
            android:exported="false"
            android:label="Chỉnh sửa sản phẩm" />
        <activity
            android:name=".AdminOrderActivity"
            android:exported="false"
            android:label="Quản lý hóa đơn" />
        <activity
            android:name=".AdminOrderDetailActivity"
            android:exported="false"
            android:label="Quản lý chi tiết từng món hàng trong đơn hàng" />
        <activity
            android:name=".AdminOrderProductsDetailActivity"
            android:exported="false"
            android:label="Chi tiết hóa đơn" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false"
            android:label="Chi tiết sản phẩm" />
        <activity
            android:name=".ProductActivity"
            android:exported="false"
            android:label="Danh sách sản phẩm" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Quản lý cửa hàng trà sữa">
            android:label="Đặt thức uống Nhóm 1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Trang chủ" />
        <activity
            android:name=".AddNewProductActivity"
            android:exported="false"
            android:label="Thêm sản phẩm" />
    </application>

</manifest>